.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkcyan;
}

.information {
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: black;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

select {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.givemesomeroomtobreathe {
  padding-bottom: 10px;
  padding-top: 10px;
}

button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

button:hover{
  cursor: pointer;
}

.navigationMenu {
  text-align: center;
  
  background-color: black;
  padding-top: 20px;
  padding-bottom: 30px;
  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  background-color: blue;
  align-items: center;
  padding: 30px;
  */
}
.innerNavigationMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black
}
.navigationMenuItem {
  padding: 30px;
  background-color: black;

}

.properties {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.propertyName {
  width: 500px;
  height: 400px;
  background-color: aquamarine;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.propertyName h3 {
margin: 20px;
}